/******index dash***********/
body{
	margin: 0;
	padding: 0;
	font-family: 'roboto',sans-serif;

}

header{
	z-index: 2000;
	position: fixed;
	background: #181915;
	padding:40px;
	width: calc(100% - 0%);
	height: 30px;
	top: 0;
	border-bottom: 2px solid #35fd21;}

.esquerda_area h3{
	color: white;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
	margin-top: -40px;
}

.esquerda_area span{
	color:#35fd21;
}


/************Side bar***********/


.sidebar{
	z-index: 1000;
	top: 0;
	background: #282923;
	margin-top: 81px;
	padding-top: 10px;
	position: fixed;
	left: 0;
	width: 250px;
	height: calc(104% - 9%);
	border-top: 2px solid #35fd21;
	transition: 0.5s;
	transition-property: left;
	overflow-y: auto;
}


.profile_img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sidebar .profile_img .perfil_img{
	 width: 100px;
	 height: 100px;
	 margin-top: 20px;
	 margin-bottom: 20px;
	 color: white;
}


.sidebar .profile_img h4{
	color: white;
	margin-top: 0;
	margin-bottom: 20px;
}

.sidebar a{
   color: white;
   display: block;
   width: 100%;
   line-height: 60px;
   padding-left: 40px;
   box-sizing: border-box;
   transition: 0.5s;
   transition-property: background;
}

.sidebar a:hover{
	 background:#35fd21;
	 color: #282923;
	 text-decoration: none;
}

.sidebar i{
	padding-right: 10px;
}

label #sidebar_btn{
	z-index: 1;
	position: fixed;
	cursor: pointer;
	left: 300px;
	font-size: 20px;
	color: #35fd21;
	margin: -24px 0;
	transition: 0.5s;
	transition-property: color;
}

label #sidebar_btn:hover{
	color:#b8f9b1;
}


.content{
	padding: 20px;
	width: (100% - 250px);
	background: url(../img/fundo2.png)no-repeat;
	margin-left: 250px;
	background-position:center;
	background-size: cover;
	height: 100%; /*110vh*/
	transition: 0.5s;
	padding-top: 50px;
}

#check:checked ~ .sidebar{
	left: -190px;
}

#check:checked ~ .sidebar a span{
	display: none;
}

#check:checked ~ .sidebar a{
	font-size: 20px;
	margin-left: 170px;
	width: 80px;
	background-image: none;
}

#check:checked ~ .sidebar .profile_img{
	display: none;
}

#check:checked ~ .content{
	margin-left: 60px;
}

#check{
	display: none;
}

.mobile_nav{
	display: none;
}


/************informações*************/
.informacoes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}
.informacoes a{
	display:inline-block;
	padding: 20px;
	margin-top: 50px;
	/*background: rgba(255, 193, 7,0.7);*/
	background: rgb(153 153 153 / 45%);
	font-size: 20px;
	text-align: center;
	width: 226px;
	margin-right: 20px;
	box-sizing: border-box;
	color: black;
	border-radius: 20px;
}

.informacoes a:hover{
	text-decoration: none;
	color:#ffffff;
	transition: 0.6s;
	transition-property: color;
}

span.badeg{
	float: right;
}


span.badeg{
	display: inline-block;
	width: 30px;
	height: 23px;
	font-size: 15px;
	background: red;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	clear: both;

}

a.largura{
   color: #dfc9f4;
}


.fundo1{
	background: rgba(214, 248, 230, 0.5);
	padding: 10px;
}

.fundo2{
	background: rgba(214, 248, 230, 0.5);
	padding: 10px;
}

/***********animação*****************/

@keyframes animes{
	 from{
        left: -3000px;
        top: 13px;
	 }
	to{
      /*left: 30%;*/
      top: 25px;
      position: fixed;

	}
}

.anime{
	position: absolute;
     transition: all 5s;
     animation:animes 3s forwards;
     color: white;
     z-index: 5000;
     left: 45%;
     font-family: custom;
     text-transform: uppercase;
     font-size: 20px;
}


@font-face{
	src:url(../font/custom2.woff);
	font-family: adf;
}

label.dant-sm{
	color: white;
}

/********Menu resposivo para smartphone**********/
@media screen and (max-width: 9800px){

	.code_yellow{
		display: none;
	}
}

@media screen and (max-width: 780px){
    body{
    	overflow: visible;
    }

    header{
    	border-bottom: 2px solid yellow;
    }

    .esquerda_area span{
	color: yellow;
     }
    .anime .ani{
    	display: none;
    }
	.sidebar{
		display: none;
	}

	#sidebar_btn{
		display: none;
	}
	.content{
		margin-left: 0;
		margin-top: 0;
		padding: 120px 20px;
		transition: 0s;
		background: url(../../img/yellow.png);
		background-size: cover;
		height: 100%;
	}

	.informacoes a{
		background: rgb(0 0 0 / 42%);
	}

	a.largura {
    color: #feffdc;}

	a.largura:hover {
      color: #ffffff;}


	label{
		color: black;
	}

	.mobile_nav{
		display: block;
		width: calc(100% - 0%);
		position: fixed;
		z-index: 1000;
	}

	.nav_bar{
        background: #282923;
        width: calc(100% - 0%);
        margin-top: 58px;
		display: flex;
		padding: 10px 20px;
		justify-content: space-between;
		align-items: center;
		z-index: 9000;
	}

	.nav_bar .mobile_profile_image{
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.nav_bar .nav_btn{
		cursor: pointer;
		color: yellow;
        transition: 0.5s;
	    transition-property: color;
	    padding-top: 10px;
		font-size: 22px;
		padding-right: 30px;
		 transition: 0.5s;
		transition-property: color;
	}

	.nav_bar .nav_btn:hover{
		 color:yellow;
	}

	.mobile_nav_items{
		background: #26261e;
		display: ;
	}

	label.dant-sm{
		color: black;
	}

	.mobile_nav_items a{
       display: block;
       color: #fff;
       text-align: center;
       letter-spacing: 1px;
       line-height: 60px;
       text-decoration: none;
       box-sizing: border-box;
       transition: 0.5s;
       transition-property: background;
       border-right: 3px solid yellow;
 	}

 	.mobile_nav_items a:hover{
 		background: yellow;
	    color: #282923;
 		text-decoration: none;
 	}

 	.mobile_nav_items i{
 		padding-right: 10px;
 	}

 	#check2:checked ~ .mobile_nav .mobile_nav_itme{
 		position: fixed;
 	}

 	#check2:checked ~ .mobile_nav .mobile_nav_items a{
 		display: none;

 	}
 	#check{
 		display: none;
 	}

 	.code_green{
		display: none;
	}

	.code_yellow{
	  display: block;
	}
}

/**********marcação******************/
body#Home a.home, #Con a.con, #Use a.use, #Pro a.pro, #Pedido a.pedido{
	background-image: url(../img/cofe2.png);
	background-position: right center;
	background-size: 25px;
	color: white;
	background-repeat: no-repeat;

}

/******index dash***********/
body{
	margin: 0;
	padding: 0;
	font-family: 'roboto',sans-serif;

}

header{
	z-index: 2000;
	position: fixed;
	background: #181915;
	padding:40px;
	width: calc(100% - 0%);
	height: 30px;
	top: 0;
	border-bottom: 2px solid #35fd21;}

.esquerda_area h3{
	color: white;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
	margin-top: -40px;
}

.esquerda_area span{
	color:#35fd21;
}


/************Side bar***********/


.sidebar{
	z-index: 1000;
	top: 0;
	background: #282923;
	margin-top: 81px;
	padding-top: 10px;
	position: fixed;
	left: 0;
	width: 250px;
	height: calc(104% - 9%);
	border-top: 2px solid #35fd21;
	transition: 0.5s;
	transition-property: left;
	overflow-y: auto;
}


.profile_img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sidebar .profile_img .perfil_img{
	 width: 100px;
	 height: 100px;
	 margin-top: 20px;
	 margin-bottom: 20px;
	 color: white;
}


.sidebar .profile_img h4{
	color: white;
	margin-top: 0;
	margin-bottom: 20px;
}

.sidebar a{
   color: white;
   display: block;
   width: 100%;
   line-height: 60px;
   padding-left: 40px;
   box-sizing: border-box;
   transition: 0.5s;
   transition-property: background;
}

.sidebar a:hover{
	 background:#35fd21;
	 color: #282923;
	 text-decoration: none;
}

.sidebar i{
	padding-right: 10px;
}

label #sidebar_btn{
	z-index: 1;
	position: fixed;
	cursor: pointer;
	left: 300px;
	font-size: 20px;
	color: #35fd21;
	margin: -24px 0;
	transition: 0.5s;
	transition-property: color;
}

label #sidebar_btn:hover{
	color:#b8f9b1;
}


.content{
	padding: 20px;
	width: (100% - 250px);
	background: url(../img/fundo2.png)no-repeat;
	margin-left: 250px;
	background-position:center;
	background-size: cover;
	height: 100%; /*110vh*/
	transition: 0.5s;
	padding-top: 50px;
}

#check:checked ~ .sidebar{
	left: -190px;
}

#check:checked ~ .sidebar a span{
	display: none;
}

#check:checked ~ .sidebar a{
	font-size: 20px;
	margin-left: 170px;
	width: 80px;
	background-image: none;
}

#check:checked ~ .sidebar .profile_img{
	display: none;
}

#check:checked ~ .content{
	margin-left: 60px;
}

#check{
	display: none;
}

.mobile_nav{
	display: none;
}


/************informações*************/
.informacoes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}
.informacoes a{
	display:inline-block;
	padding: 20px;
	margin-top: 50px;
	/*background: rgba(255, 193, 7,0.7);*/
	background: rgb(153 153 153 / 45%);
	font-size: 20px;
	text-align: center;
	width: 226px;
	margin-right: 20px;
	box-sizing: border-box;
	color: black;
	border-radius: 20px;
}

.informacoes a:hover{
	text-decoration: none;
	color:#ffffff;
	transition: 0.6s;
	transition-property: color;
}

span.badeg{
	float: right;
}


span.badeg{
	display: inline-block;
	width: 30px;
	height: 23px;
	font-size: 15px;
	background: red;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	clear: both;

}

a.largura{
   color: #dfc9f4;
}


.fundo1{
	background: rgba(214, 248, 230, 0.5);
	padding: 10px;
}

.fundo2{
	background: rgba(214, 248, 230, 0.5);
	padding: 10px;
}

/***********animação*****************/

@keyframes animes{
	 from{
        left: -3000px;
        top: 13px;
	 }
	to{
      /*left: 30%;*/
      top: 25px;
      position: fixed;

	}
}

.anime{
	position: absolute;
     transition: all 5s;
     animation:animes 3s forwards;
     color: white;
     z-index: 5000;
     left: 45%;
     font-family: custom;
     text-transform: uppercase;
     font-size: 20px;
}


@font-face{
	src:url(../font/custom2.woff);
	font-family: adf;
}

label.dant-sm{
	color: white;
}

/********Menu resposivo para smartphone**********/
@media screen and (max-width: 1800px){

	.code_yellow{
		display: none;
	}
}

@media screen and (max-width: 780px){
    body{
    	overflow: visible;
    }

    header{
    	border-bottom: 2px solid yellow;
    }

    .esquerda_area span{
	color: yellow;
     }
    .anime .ani{
    	display: none;
    }
	.sidebar{
		display: none;
	}

	#sidebar_btn{
		display: none;
	}
	.content{
		margin-left: 0;
		margin-top: 0;
		padding: 120px 20px;
		transition: 0s;
		background: url(../../img/yellow.png);
		background-size: cover;
		height: 100%;
	}

	.informacoes a{
		background: rgb(0 0 0 / 42%);
	}

	a.largura {
    color: #feffdc;}

	a.largura:hover {
      color: #ffffff;}


	label{
		color: black;
	}

	.mobile_nav{
		display: block;
		width: calc(100% - 0%);
		position: fixed;
		z-index: 1000;
	}

	.nav_bar{
        background: #282923;
        width: calc(100% - 0%);
        margin-top: 58px;
		display: flex;
		padding: 10px 20px;
		justify-content: space-between;
		align-items: center;
		z-index: 9000;
	}

	.nav_bar .mobile_profile_image{
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.nav_bar .nav_btn{
		cursor: pointer;
		color: yellow;
        transition: 0.5s;
	    transition-property: color;
	    padding-top: 10px;
		font-size: 22px;
		padding-right: 30px;
		 transition: 0.5s;
		transition-property: color;
	}

	.nav_bar .nav_btn:hover{
		 color:yellow;
	}

	.mobile_nav_items{
		background: #26261e;
		display: ;
	}

	label.dant-sm{
		color: black;
	}

	.mobile_nav_items a{
       display: block;
       color: #fff;
       text-align: center;
       letter-spacing: 1px;
       line-height: 60px;
       text-decoration: none;
       box-sizing: border-box;
       transition: 0.5s;
       transition-property: background; 
       border-right: 3px solid yellow;
 	}

 	.mobile_nav_items a:hover{
 		background: yellow;
	    color: #282923;
 		text-decoration: none;
 	}

 	.mobile_nav_items i{
 		padding-right: 10px;
 	}

 	#check2:checked ~ .mobile_nav .mobile_nav_itme{
 		position: fixed;
 	}

 	#check2:checked ~ .mobile_nav .mobile_nav_items a{
 		display: none;

 	}
 	#check{
 		display: none;
 	}

 	.code_green{
		display: none;
	}

	.code_yellow{
	  display: block;
	}
}

/**********marcação******************/
body#Home a.home, #Con a.con, #Use a.use, #Pro a.pro, #Pedido a.pedido, #Cup a.cup{
	background-image: url(../img/cofe2.png);
	background-position: right center;
	background-size: 25px;
	color: white;
	background-repeat: no-repeat;

}

