<!DOCTYPE html>
<html lang='pt-br'>
<head>
  <meta charset="utf-8">
  <title>Cartões</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <!--estilo customizado-->
   <link rel="stylesheet" type="text/css" href="css/estilo.css">
   <link rel="stylesheet" type="text/css" href="css/inicio.css">
   <!--icon-->
   <script src="https://kit.fontawesome.com/32858d8fc9.js" crossorigin="anonymous"></script>
   <!--htmlshiv-->
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js">
   <!--normalize-->
   <link rel="stylesheet" type="text/css" href="css/normalize.css">
   <link rel='icon' href="icon/card.png">
</head>
<body id="Card">
     
   <!--Cabeçalho-->
        <!--bottão oculta menu-->
        <input type="checkbox" id="check" checked="true">
      <header>
         <label for="check">
          <i class="fas fa-bars" id="sidebar_btn"></i> 
         </label>
         <div class="esquerda_area">
          <a href="../index.html" class="logoShop">
          <img src="../img/logo2.png" width="171">
          <h3 class="d-none">Hamburger <span>Artesanal</span></h3>
          </a>
         </div>

         <div class="carrinho_icon"><!--Carrinho-->
          <a href="main-layout-client/carrinho.html"><i class="fas fa-shopping-cart text-light"></i> <small class="badeg_carrinho"><span class="car">0</span> itens</small></a>
         </div><!--fim carinho-->

         <div class="botao_right d-none">
          <a href="main-layout-client/login_cliente.html" class="nav-link text-light"> Entrar</a>
         </div>

          <div class="botao_right dropdown"><!--inicio btn-right-drop-->
             <!--Menu Dropdown-->

            <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">Olá, User!</a> 
                  <div class="dropdown-menu">
                      <a href="index.html" class="dropdown-item">Menu</a>
                      <a href="pedidos.html" class="dropdown-item">Meus Pedidos</a>
                      <a href="feedback.html" class="dropdown-item">feedback</a>
                      <a href="../carrinho.html" class="dropdown-item">Meu carrinho</a>
                      <a href="info.html" class="dropdown-item">Informações da Conta</a>
                      <a href="endereco.html" class="dropdown-item">Meus Endereços</a>
                      <a href="card.html" class="dropdown-item">Cartões</a>
                      <a href="../index.html?exit=true" class="dropdown-item">Sair</a>
                  </div>

         </div><!--Fimm btn-right-drop-->

      </header>
      <!--Fim Cabeçalho-->
   
      <!--Nav para smartphones-->
      <input type="checkbox" id="check2" checked="true">
          <div class="mobile_nav" style="overflow: hidden; z-index: 900">
            <div class="nav_bar">
          
           <div class="carrinho_ico2">
          <a href="main-layout-client/carrinho.html"><i class="fas fa-shopping-cart text-light"></i> <small class="badeg_carrinho"><span class="car">0</span> itens</small></a>
           </div>

           <label for="check2">
           <i class="fas fa-bars nav_btn"></i>
           </label>
            </div>
            <div class="mobile_nav_items" style="overflow-y: hidden;z-index: 9000">
         
         <a href="#"><span>NaN</span></a>
         <a href="#"><span>NaN</span></a>
         <a href="#"><span>NaN</span></a>
         <a href="#"><span>NaN</span></a>
         
            
            </div>
          </div>
      <!--Fim Nav para smartphones-->
      
      <!--Inicio side bar-->
      <div class="sidebar">
         <div class="profile_img">
          <h4 style="font-family: adf"></h4>
         </div>
         <a href="#"><span>NaN</span></a>
         <a href="#"><span>NaN</span></a>
         <a href="#"><span>NaN</span></a>
         <a href="#"><span>NaN</span></a>
        
      </div>

        <!--Animação-->
        

      <div class=""><!--inicio content-->
               
              <div class="container-fluid lupa">
                

              <!--*********************** D E S A T I V A D O************************-->
               <div class="mt-3 lupa d-none"><!--pesquisar desativado-->
               <input type="search" class="pesquisa " placeholder="O que você procurar ?">
               <button class="btn btn-dark lup"><i class="fas fa-search"></i></button>
               </div><!--fim pesquisar-->
             <!--************ F I N A L . D E S A T I V A D O************************-->
        

         </div>
            
         <div class="container" id="inicio"><!--Inicio container-->
              <div class="row"><!--Inicio row-->
                <div class="**-danger col-md-3"> <!--inicio lado left-->
                     <div class="row"><!--inicio row interna-->
                        <div class="col-md-12"><!--inicio col-->
                        <div class="grupo"><!--inicio grupo-->
                        <h6 class="">Olá, <span class="text">User</span>!</h6>
                        <ul>
                        <li><a href="index.html">Menu</a></li>
                        <li><a href="pedidos.html">Meus Pedidos</a></li>
                        <li><a href="feedback.html">feedback</a></li>
                        <li><a href="../carrinho.html">Meu carrinho</a></li>
                        <li><a href="info.html">Informações da Conta</a></li>
                        <li><a href="endereco.html">Meus Endereços</a></li>
                        <li><a href="#" class="cArd">Cartões</a></li>
                        <li><a href="../index.html?exit=true">Sair</a></li>
                        </ul>
                        </div><!--fim grupo-->
                        </div><!--fim col-->
                     </div><!--fim row interna-->
                </div><!--Fim lado left-->
               

                <div class="**-primary col-md-9"><!--inicio lado right-->
                <div class="row">
                  <div class="card col-md-12">
                    <div class="credito">
                    <h3>Cartões de crédito</h3>
                      <small class="d-none">você não possui cartões de créditos cadastrados para 
                      compra.</small>

                      <table class="table table-responsive">
                         <thead>
                           <th>Cartão</th>
                           <th>validade</th>
                           <th>Código de segurança</th>
                           <th>Nome no cartão</th>
                           <th>CPF</th>
                         </thead>
                         <tbody>
                           <td>5320 xxx xxxx xx31</td>
                           <td>08/22</td>
                           <td>xxx</td>
                           <td>code coffe + code_café</td>
                           <td>476.xxx.xxxx-85</td>
                         </tbody>
                      </table>


                    </div>
                     <div class="debito">
                    <h3>Cartões de débito</h3>
                      <small> você não possui cartões de débito cadastrados para compra.</small>
                     </div>
                 </div>
                </div><!--Fim lado right-->
              </div><!--Fim row-->
            </div><!--fim container-->

       
      </div><!--fim content-->
        <footer class="rodape">
          <div class="container"><!--container footer-->
          <div class="row"><!--row footer-->
            <div class="col-md-4">
              <h6>Contato</h6>
              <p><i class="fas fa-envelope"></i> code_cafe@gmail.com</p>
              <p><i class="fas fa-phone"></i> +55 000 000000000</p>
            </div>
            <div class="col-md-4">
              <h6>Redes Sociais</h6>
              <div style="font-size: 35px;">
              <i class="fab fa-whatsapp mr-2"></i>
              <i class="fab fa-facebook-f mr-2"></i>
              <i class="fab fa-twitter"></i>
               </div>
             </div>
             <div class="col-md-4">
              <h6>Code + Café</h6>
              <p>Revolucionando..</p>
            </div>
          </div><!--fim row footer-->

        </div><!--fim container footer-->
       <div class="code"> <!--copy-->
          &copy; Code + Café todos os direitos reservados.
      </div><!--copy fim-->
      </footer>
               


      
  


       
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>