
.fundo{
	background: rgba(214, 248, 230, 0.5);
    padding: 10px;
}

.containerr {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}
.top{
	padding-top: 40px;
}

.content{

	height: 100vh; /*110vh*/
}

h6{
	color: black;
}
@media screen and (max-width: 780px){

.containerr {

    width: 98%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h6{
	color: white;
}
.content{

	height: 100%; /*110vh*/
}
.top{
	padding-top: 40%;
}

}